/* Work Sans google font */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  color: #131313;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}

nav ul {
  display: flex;
}

nav > ul > li {
  list-style: none;
  margin-right: 15px;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

nav li > a {
  text-decoration: none;
}

/* banner section styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  color: #fff;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* teams related styles */
.teams {
  margin-top: 70px;
  display: flex;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team-content-container {
  padding-left: 76px;
  padding-right: 70px;
}

.team-title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
}

.quick-list {
  color: #727272;
  font-weight: 500;
}

.mine {
  color: #131313;
  font-weight: 700;
}

.featured {
  color: #ff900e;
  font-weight: 700;
}
.team-description {
  color: #727272;
}

/* Facts style */
.facts {
  margin-top: 70px;
}
.facts-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.facts-description {
  color: #727272;
}

.facts-card-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.card-stats {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-title {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

/* sponsors styles */
.sponsors {
  margin-top: 150px;
  text-align: center;
}
.sponsors-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.sponsors-description{
  color: #727272;
  margin-top: 20px;
}

.sponsors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img{
  width: 165px;
}

/* responsive media quires header */
/* For mobile devices */
@media screen and (max-width: 576px) {
  header,
  .team-content-container {
    padding: 20px;
  }
  nav,
  .teams,
  .facts-card-container,
  .sponsors-img-container
   {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    gap: 20px;
    padding: 20px;
  }
}

/* Table responsive */

@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams,
  .sponsors-img-container
   {
    flex-direction: column;
  }
  header,
  .team-content-container {
    padding: 20px;
  }
}
